---
layout: default
---

<header class="page-header  |  container  |  mb-24 sm:mb-32">
   <h1 class="font-serif text-3xl sm:text-4xl tracking-wide">Some nice intro text about design consectetur adipiscing elit sed do eiusmod.</h1>
</header>

<section class="image-grid__section">

   <!--   Sole Expression   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Sole Expression</h2>
         <div>
            <p>As a part of a collaborative studio at The University of the Arts, I helped to design an exhibition that invited visitors to explore their relationship with footwear. The exhibition featured a number of interactive experiences, such as a heel try-on station (designed not to be gross), a stride analyzer, and floor-mounted microscopes to take a closer look at their own shows. My personal favorite was the exhibit Why Shoes Smell, where visitors lift a flap to waft the aroma of a number of distinct odors from actual people’s shoes.</p>
         </div>
      </header>

      <div class="container --large">

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="m-2 sm:mb-4">
                     <div class="image-grid__image">
                        <img src="/assets/img/design/sole_expression/sole_expression_1_small.png" alt="">
                     </div>
                  </div>
                  <div class="m-2 sm:mt-4">
                     <div class="image-grid__image">
                        <img src="/assets/img/design/sole_expression/sole_expression_2_small.png" alt="">
                     </div>
                  </div>
               </div>

               <div class="image-grid__item --large">
                  <div class="m-2">
                     <div class="image-grid__image">
                        <img src="/assets/img/design/sole_expression/sole_expression_3_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>

            <div class="image-grid__group --reverse">
               <div class="image-grid__item --large">
                  <div class="m-2">
                     <div class="image-grid__image">
                        <img src="/assets/img/design/sole_expression/sole_expression_4_small.png" alt="">
                     </div>
                  </div>
               </div>
               <div class="image-grid__item">
                  <div class="m-2 sm:mb-4     w-1/2 sm:w-auto">
                     <div class="image-grid__image">
                        <img src="/assets/img/design/sole_expression/sole_expression_5_small.png" alt="">
                     </div>
                  </div>
                  <div class="m-2 sm:mt-4     w-1/2 sm:w-auto">
                     <div class="image-grid__image">
                        <img src="/assets/img/placeholder.gif" alt="">
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>


   <!--   The Nature of Innovationn   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">The Nature of Innovation</h2>
         <div>
            <p>Nature of Innovation was an interactive science exhibit that explored the concept of biomimicry. Visitors learned about and tested technology that was inspired by nature, as well as collected and toggled through high speed footage of the way animals move in order to inspire their own innovations.</p>
         </div>
      </header>

      <div class="container --large">
         <div class="image-grid__group">
            <div class="image-grid__item">
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                  <div class="image-grid__image">
                     <img src="/assets/img/design/nature_of_innovation/nature_of_innovation_1_small.png" alt="">
                  </div>
               </div>
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                  <div class="image-grid__image">
                     <img src="/assets/img/placeholder.gif" alt="">
                  </div>
               </div>
            </div>

            <div class="image-grid__item --large">
               <div class="m-2">
                  <div class="image-grid__image">
                     <img src="/assets/img/design/nature_of_innovation/nature_of_innovation_2_small.png" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!--   Sketching - Things   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Haunted: The Philidelphia Ghost Project</h2>
         <div>
            <p>Philadelphia is home to countless historic sites, almost all of which have a ghost story tied to them. These stories were shared through relevant artifacts such a famous chair from the Baleroy Mansion that several people have apparently died shortly after sitting in. The exhibition was designed to be austere—avoiding entirely the feel of a haunted house. The exhibition allowed visitors to share their own ghost stories and explore the psychology of getting spooked.</p>
         </div>
      </header>

      <div class="container --large">
         <div class="image-grid__group --reverse">
            <div class="image-grid__item --large">
               <div class="m-2">
                  <div class="image-grid__image">
                     <img src="/assets/img/design/haunted/haunted_1_small.png" alt="">
                  </div>
               </div>
            </div>
            <div class="image-grid__item">
               <div class="m-2 sm:mb-4     w-1/2 sm:w-auto">
                  <div class="image-grid__image">
                     <img src="/assets/img/design/haunted/haunted_2_small.png" alt="">
                  </div>
               </div>
               <div class="m-2 sm:mt-4     w-1/2 sm:w-auto">
                  <div class="image-grid__image">
                     <img src="/assets/img/design/haunted/haunted_3_small.png" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>