---
layout: default
---

<header class="page-header  |  container  |  mb-24 sm:mb-32">
   <h1 class="font-serif text-3xl sm:text-4xl tracking-wide">I have worked out a number of strategies for prototyping museums experiences ranging from educational programs and workshops to museum exhibits. My understanding of design and informal pedagogy are constantly informing one another.</h1>
</header>


<section class="image-grid__section">
   <!--
   <div class="section-block">
      <div class="container">
         <h2 class="section-block__heading">Prototyping</h2>
         <div>
            <p>I have worked out a number of systems for prototyping a wide range of museums experiences ranging from educational programs and workshops to museum exhibits. My understanding of both exhibits and informal pedagogy constantly reinforce one another and allow me the flexibility to shift my prototypes accordingly to ensure maximum impact.</p>
         </div>
      </div>
   </div>
   -->


   <!--   Sketching - Things   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Prototyping - Light Table</h2>
         <div>
            <p>We created a quick proof of concept to see if our audience was interested in the idea of tracing and designing their own footwear. It proved to be very popular.</p>
            <p>I then needed to consider how the experience would function and what it would look like. To get things off the ground, I created a number of to-scale models to communicate my ideas to the curator and get tips on construction from SMO’s exhibit team.</p>
         </div>
      </header>

      <div class="container --large">
         <div class="flex flex-wrap  -mx-1 sm:-mx-2">
            <div class="sm:w-1/2  |  p-1 sm:p-2">
               <div class="image-grid__image">
                  <img src="/assets/img/development/prototyping_1_small.jpg" alt="">
                  <p class="text-sm  |  mt-6 mb-2 px-2 sm:px-0">Prototype for a light table experience that was a part of an exhibition for Science Museum Oklahoma on the art and design of footwear. The goal of the exhibit was to allow visitors to design their own sneaker silhouette.</p>
               </div>
            </div>
            <div class="sm:w-1/2  |  p-1 sm:p-2">
               <div class="image-grid__image">
                  <img src="/assets/img/development/prototyping_2_small.jpg" alt="">
                  <p class="text-sm  |  mt-6 mb-2 px-2 sm:px-0">I then created a number of to-scale models in Illustrator and cut them out on a laser cutter. These acted as a conversation piece to communicate my ideas to the exhibition’s curator and get tips on construction from SMO’s exhibits team.</p>
               </div>
            </div>
            <div class="sm:w-1/2  |  p-1 sm:p-2">
               <div class="image-grid__image">
                  <img src="/assets/img/development/prototyping_3_small.jpg" alt="">
                  <p class="text-sm  |  mt-6 mb-2 px-2 sm:px-0">I made a to-size mock up to get a sense of how much space visitors would need to be comfortable at the exhibit. This version was taller, and helped me realize we would need an accompanying smaller table for shorter visitors.</p>
               </div>
            </div>
            <div class="sm:w-1/2  |  p-1 sm:p-2">
               <div class="image-grid__image">
                  <img src="/assets/img/development/prototyping_4_small.jpg" alt="">
                  <p class="text-sm  |  mt-6 mb-2 px-2 sm:px-0">Final prototype</p>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!--   Sketching - Spaces   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Prototyping - Macro-scope</h2>
         <div>
            <p>This apparatus helped to turn a smart-phone into a macro-scope. The prototype was tested as an exhibit, but required more exposition than most visitors were comfortable with. After refining several iterations to make it stronger and easier to use, we decided that it would work best as a facilitated experience.</p>
         </div>
      </header>

      <div class="container --large">

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/prototyping_5.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img src="/assets/img/placeholder.gif" alt="">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="image-grid__item --large">
                  <div class="w-full sm:w-auto  |  m-2">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/prototyping_6.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>


   <!--   Sketching - Spaces   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Prototyping - Footwear Display</h2>
         <div>
            <p>Another prototype for the footwear exhibition, we set up a system of shelves that showcased cross–sections of shoes. This was paired with a wall of shoe materials that visitors could touch. The shelf system was the easiest part of this prototype. The hardest part was figuring out how to cleanly cut a heel in half—we ended up having to use three different kinds of saws.</p>
         </div>
      </header>

      <div class="container --large">

         <div class="image-grid__group --reverse">
            <div class="image-grid__item --large">
               <div class="w-full sm:w-auto  |  m-2">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/prototyping_7.png"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="image-grid__item">
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/prototyping_8.jpg"
                           alt="">
                     </div>
                  </div>
               </div>
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/prototyping_9.jpg"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>



<section class="image-grid__section">
   <!--
   <div class="section-block">
      <div class="container">
         <h2 class="section-block__heading">Facilitated Experiences</h2>
         <div>
            <p>I have worked out a number of systems for prototyping a wide range of museums experiences ranging from educational programs and workshops to museum exhibits. My understanding of both exhibits and informal pedagogy constantly reinforce one another and allow me the flexibility to shift my prototypes accordingly to ensure maximum impact.</p>
         </div>
      </div>
   </div>
   -->


   <!--   Sketching - Spaces   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Facilitated Experiences – Chain Reaction</h2>
         <div>
            <p>This chain reaction experience was used for team–building workshops, library/school outreaches, drop in facilitated experiences within Tinkering Garage, and as a professional development offering for the Arkansas Discovery Network. It consisted of several loose materials and a number of “challenge pieces” that helped visitors get started. Individuals worked in teams to problem solve a section of the chain reaction, then worked together with the teams adjacent to them to connect everything together.</p>
         </div>
      </header>

      <div class="container --large">

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/experiences_1.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/experiences_2.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="image-grid__item  --large">
                  <div class="w-full sm:w-auto  |  m-2">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/experiences_3.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>
</section>




<section class="image-grid__section">
   <!--   Sketching - Spaces   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Exhibitions - Tinkering Garage</h2>
         <div>
            <p>Tinkering Garage was previously an unstaffed gallery of open-ended exploration exhibits at Science Museum Oklahoma. As the design lead, it was my job to decide how to recreate the space to privilege facilitated experiences and train the individuals that would staff the space. I researched and acquired furniture, technology, and tools for the space. I then spent several months working in the space developing a catalogue of offerings. Tinkering Garage consists of a large open space that was designed to be flexible enough to accommodate a number of experiences. The back of the space features a lab stocked with rapid prototyping technology used by the staff to prototype new experiences.</p>
         </div>
      </header>


      <div class="container --large">

         <div class="image-grid__group --reverse">
            <div class="image-grid__item --large">
               <div class="w-full sm:w-auto  |  m-2">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/exhibitions_1.jpg"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="image-grid__item">
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/exhibitions_2.png"
                           alt="">
                     </div>
                  </div>
               </div>
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/exhibitions_3.jpg"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/exhibitions_4.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                     <div class="image-grid__image">
                        <img src="/assets/img/placeholder.gif" alt="">
                     </div>
                  </div>
               </div>

               <div class="image-grid__item --large">
                  <div class="w-full sm:w-auto  |  m-2">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/development/exhibitions_5.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>

   <!--   Sketching - Spaces   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Exhibitions - Forgotten Underground</h2>
         <div>
            <p>I discovered a fascination with tunnels and abandoned infrastructure when I moved to Philadelphia. Forgotten Underground was an exhibition developed to share the stories of the “Sand Hogs” (the individuals responsible for building the underground infrastructure in cities) and to gesture at what it might be like to explore the abandoned tunnels underneath cities like Philadelphia and New York. The exhibition and its identity were then designed by Nicole Pollard.</p>
         </div>
      </header>

      <div class="container --large">

         <div class="image-grid__group --reverse">
            <div class="image-grid__item --large">
               <div class="w-full sm:w-auto  |  m-2">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/exhibitions_6.png"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="image-grid__item">
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/development/exhibitions_7.png"
                           alt="">
                     </div>
                  </div>
               </div>
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                  <div class="image-grid__image">
                     <img src="/assets/img/placeholder.gif" alt="">
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>
