---
layout: default
---

<header class="page-header  |  container  |  mb-24 sm:mb-32">
   <h1 class="font-serif text-3xl sm:text-4xl tracking-wide">Some nice intro text about innovation dolor sit amet, eiusmod tempor incididunt ut labore et.</h1>
</header>


<section class="image-grid__section">

   <!--   Making Together   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <div class="max-w-2xl mx-auto">
            <h2 class="image-grid__heading">Graduate Thesis: Making Together</h2>
            <div>
               <p>In the last decade and a half, science museums have begun to open making and tinkering spaces in their exhibit halls. These spaces invite visitors to work with intriguing materials and spend more time on one investigation. Making Together examines these spaces and the ways they help to shape the larger learning ecosystem of the museum.</p>
               <p>
                  <a href="#" class="">View Making Together ↗︎</a>
               </p>
            </div>
         </div>
      </header>

      <div class="container --large">

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="m-2 sm:mb-4">
                     <div class="image-grid__image">
                        <img src="/assets/img/innovation/innovation_1_small.jpg" alt="">
                     </div>
                  </div>
                  <div class="m-2 sm:mt-4">
                     <div class="image-grid__image">
                        <img src="/assets/img/innovation/innovation_2_small.jpg" alt="">
                     </div>
                  </div>
               </div>

               <div class="image-grid__item --large">
                  <div class="m-2">
                     <div class="image-grid__image">
                        <img src="/assets/img/innovation/innovation_3_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>

            <div class="image-grid__group --reverse">
               <div class="image-grid__item --large">
                  <div class="m-2">
                     <div class="image-grid__image">
                        <img src="/assets/img/innovation/innovation_4_small.jpg" alt="">
                     </div>
                  </div>
               </div>
               <div class="image-grid__item">
                  <div class="m-2 sm:mb-4     w-1/2 sm:w-auto">
                     <div class="image-grid__image">
                        <img src="/assets/img/placeholder.gif" alt="">
                     </div>
                  </div>
                  <div class="m-2 sm:mt-4     w-1/2 sm:w-auto">
                     <div class="image-grid__image">
                        <img src="/assets/img/placeholder.gif" alt="">
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>


   <div class="section-block">
      <div class="container">
         <h2 class="section-block__heading">Conference Presentations</h2>
         <p style="margin-bottom: 2rem">Association of Science and Technology Centers</p>
         <div>
            <h3 class="font-500  |  mb-4">2012 —<br>Strategies for Mobile Museum Outreach</h3>

            <h3 class="font-500">2014 —<br>Live Demo Hour</h3>
            <p>I presented a makeshift ping pong ball cannon that was later used by Steve Spangler and (arguably) Adam Savage.</p>

            <h3 class="font-500">2015 —<br>Making and Tinkering <span class="small-caps">COP</span> Meet-up</h3>
            <p>I shared two prototype activities with the COP—a cardboard glider challenge and a contour drawing canvas.</p>

            <h3 class="font-500  |  mb-4">2016 —<br>With Not For: New Approaches to Community-based Exhibition Development and Design</h3>
            <h3 class="font-500">Making for Everyone: Strategies for Providing Making and Tinkering Experiences</h3>
            <p>I specifically addressed providing making and tinkering experiences on a small budget.</p>
         </div>
      </div>
   </div>

</section>