---
layout: default
---

<header class="page-header  |  container">
   <h1 class="font-serif text-3xl sm:text-4xl tracking-wide">Some nice intro text about processes dolor sit amet, consectetur adipiscing elit.</h1>
</header>

<div class="container  |  mb-20 pt-12 sm:pt-20">
   <h2 class="font-500 tracking-wide uppercase  |  mb-2">About</h2>
   <div class="block__two-column">
      <p>Extensive experience prototyping and developing hands-on learning experiences.</p>
      <p>Competent with rapid prototyping technology such as laser cutters, CNC routers, and 3D printers.</p>
      <p>Capable with basic electronics and shop tools.</p>
      <p>Experienced in interpretive writing for various museum media.</p>
      <p>Trained in proper care and presentation of fine art and artifacts.</p>
      <p>Proficient in Adobe Suite, hand sketching, 3D parametric modeling, drafting and design drawing.</p>
   </div>
</div>


<!--   Sketching - Things   -->
<section class="image-grid  |  bg-yellow-base">
   <header class="container">
      <h2 class="image-grid__heading">Sketching - Things</h2>
   </header>

   <div class="container --large">

         <div class="image-grid__group">
            <div class="flex sm:block  |  sm:w-1/3">
               <div class="m-1 sm:m-2 sm:mb-4">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_1_small.png" alt="">
                     </div>
                  </div>
               </div>
               <div class="m-1 sm:m-2 sm:mt-4">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_2_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>

            <div class="sm:w-2/3">
               <div class="m-1 sm:m-2">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_3_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="image-grid__group">
            <div class="sm:w-2/3">
               <div class="m-1 sm:m-2">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_4_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="flex sm:block  |  sm:w-1/3">
               <div class="m-1 sm:m-2 sm:mb-4     w-1/2 sm:w-auto">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_5_small.png" alt="">
                     </div>
                  </div>
               </div>
               <div class="m-1 sm:m-2 sm:mt-4     w-1/2 sm:w-auto">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/placeholder.gif" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>

   </div>
</section>


<!--   Sketching - Spaces   -->
<section class="image-grid">
   <header class="container">
      <h2 class="image-grid__heading">Sketching - Spaces</h2>
   </header>

   <div class="container --large">

         <div class="image-grid__group">
            <div class="flex sm:block  |  sm:w-1/3">
               <div class="m-1 sm:m-2 sm:mb-4">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_6_small.png" alt="">
                     </div>
                  </div>
               </div>
               <div class="m-1 sm:m-2 sm:mt-4">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_7_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>

            <div class="sm:w-2/3">
               <div class="m-1 sm:m-2">
                  <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                     <div class="bdg-white">
                        <img src="/assets/img/processes/sketching/sketch_8_small.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>

   </div>
</section>


<!--   Sketching - Things   -->
<section class="image-grid  |  bg-yellow-base">
   <header class="container">
      <h2 class="image-grid__heading">Computer Drawings</h2>
   </header>

   <div class="container --large">

      <div class="image-grid__group">
         <div class="sm:w-2/3">
            <div class="m-1 sm:m-2">
               <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                  <div class="bdg-white">
                     <img src="/assets/img/processes/technical_drawings/technical_1_small.png" alt="">
                  </div>
               </div>
            </div>
         </div>
         <div class="flex sm:block  |  sm:w-1/3">
            <div class="m-1 sm:m-2 sm:mb-4     w-1/2 sm:w-auto">
               <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                  <div class="bdg-white">
                     <img src="/assets/img/processes/technical_drawings/technical_2_small.png" alt="">
                  </div>
               </div>
            </div>
            <div class="m-1 sm:m-2 sm:mt-4     w-1/2 sm:w-auto">
               <div class="p-2 sm:p-4" style="background-color: #e5e1dc;">
                  <div class="bdg-white">
                     <img src="/assets/img/processes/technical_drawings/technical_3_small.png" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>