---
layout: default
---

<header class="page-header  |  container  |  mb-24 sm:mb-32">
   <h1 class="font-serif text-3xl sm:text-4xl tracking-wide">Some nice intro text about processes dolor sit amet, consectetur adipiscing elit.</h1>
</header>


<section class="image-grid__section">
   <div class="section-block">
      <div class="container">
         <h2 class="section-block__heading">Skills</h2>
         <div class="block__two-column  max-w-2xl mx-auto">
            <p>Extensive experience prototyping and developing hands-on learning experiences.</p>
            <p>Competent with rapid prototyping technology such as laser cutters, CNC routers, and 3D printers.</p>
            <p>Capable with basic electronics and shop tools.</p>
            <p>Experienced in interpretive writing for various museum media.</p>
            <p>Trained in proper care and presentation of fine art and artifacts.</p>
            <p>Proficient in Adobe Suite, hand sketching, 3D parametric modeling, drafting and design drawing.</p>
         </div>
      </div>
   </div>


   <!--   Sketching - Things   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Sketching - Things</h2>
      </header>

      <div class="container --large">

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="m-2 sm:mb-4  |  w-1/2 sm:w-auto">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_1.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
                  <div class="m-2 sm:mt-4  |  w-1/2 sm:w-auto">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_2.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="image-grid__item --large">
                  <div class="m-2  |  w-full sm:w-auto">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_3.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="image-grid__group --reverse">
               <div class="image-grid__item --large">
                  <div class="w-full sm:w-auto  |  m-2">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_4.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="image-grid__item">
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_5.png"
                              alt="">
                        </div>
                     </div>
                  </div>
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img src="/assets/img/placeholder.gif" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>


   <!--   Sketching - Spaces   -->
   <div class="image-grid">
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Sketching - Spaces</h2>
      </header>

      <div class="container --large">

            <div class="image-grid__group">
               <div class="image-grid__item">
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              class="zoom-margin"
                              data-zoomable
                              data-zoom-src="/assets/img/processes/sketching/sketch_6_large.jpg"
                              src="/assets/img/processes/sketch_6.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
                  <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_7.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="image-grid__item --large">
                  <div class="w-full sm:w-auto  |  m-2">
                     <div class="image-grid__wrapper">
                        <div class="image-grid__image">
                           <img
                              data-zoomable
                              src="/assets/img/processes/sketch_8.jpg"
                              alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

      </div>
   </div>


   <!--   Sketching - Things   -->
   <div class="image-grid">
      <!--   Header   -->
      <header class="image-grid__header  |  container">
         <h2 class="image-grid__heading">Computer Drawings</h2>
      </header>

      <!--   Grid   -->
      <div class="container --large">
         <!--   Group   -->
         <div class="image-grid__group --reverse">
            <!--   Column Large   -->
            <div class="image-grid__item --large">
               <div class="w-full sm:w-auto  |  m-2">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/processes/technical_1.jpg"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
            <!--   Column Small   -->
            <div class="image-grid__item">
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mb-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/processes/technical_2.jpg"
                           alt="">
                     </div>
                  </div>
               </div>
               <div class="w-1/2 sm:w-auto  |  m-2 sm:mt-4">
                  <div class="image-grid__wrapper">
                     <div class="image-grid__image">
                        <img
                           data-zoomable
                           src="/assets/img/processes/technical_3.png"
                           alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>