<footer class="border-t border-gray-300">
   <div class="container  |  pt-8 pb-6 sm:py-8 md:py-12">
      <div class="sm:flex sm:justify-between  |  mb-7 sm:mb-10">
         <a href="/" class="block  |  font-serif text-sm sm:text-base tracking-wide  |  mb-7 sm:mb-0 sm:mr-12" style="flex-shrink: 0">
            Trevor Taylor<br>
            <span class="text-xs sm:text-sm  |  block">Experience Developer–Designer</span>
         </a>

         <ul>
            <li class="">
               <a href="/skills">Skills</a>
            </li>
               <span>/</span>
            <li class="">
               <a href="/development">Development</a>
            </li>
               <span>/</span>
            <li class="">
               <a href="/design">Design</a>
            </li>
               <span>/</span>
            <li class="">
               <a href="/innovation">Innovation</a>
            </li>
         </ul>
      </div>

      <div class="flex items-end justify-between sm:items-center  |  text-sm  |  mb-5">
         <div class="font-serif">
            <a href="mailto:hello@trevor-taylor.com" class="block sm:inline  |  mb-1 sm:mb-0">
               hello@trevor-taylor.com
            </a>

            <a href="https://www.instagram.com/fairweatherfaux" target="_blank" class="block sm:inline  |  sm:ml-4">
               Instagram
            </a>
         </div>

         <!--<div class="footer-mark --{{ page.title | downcase }}"></div>-->
      </div>

      <div class="footer-mark --{{ page.title | downcase }}"></div>
   </div>
</footer>
