<header class="site-header" id="top">
   <div class="site-header__wrapper  |  container">
      <a href="/" class="site-header__home">
         <h1 class="text-sm sm:text-base tracking-wide">
            Trevor Taylor<br>
            <span class="text-xs sm:text-sm  |  block">Experience Developer–Designer</span>
         </h1>
      </a>

      <button class="site-menu__btn  |  js--site-menu__btn" style="width: 36px">
         <span style="width: 24px"></span>
         <span style="width: 28px"></span>
         <span style="width: 24px"></span>
         <span style="width: 18px"></span>
      </button>

      {% include nav.html %}
   </div>
</header>