<div class="flex flex-wrap justify-between ph2   flex-row-ns   ph4-l">
    <div class="mb3 w-100   mb0-ns w-50-ns">
        <div class="border-box flex flex-cell items-stretch justify-center w-100   pa2-ns w-100-ns">
            <div class="bg-black-04 flex flex-column items-center justify-center pa2   pa3-46">
                <a class="zoom-in" href="#" data-featherlight="assets/development/prototyping/1_large.jpg" data-featherlight-close-on-click="anywhere" data-featherlight-close-speed="350">
                    <img class="db" src="assets/development/prototyping/1_small.jpg">
                </a>
                <p class="f7 lh-copy mb2 mt3   pt2-ns hyphens-ns   f6-l">Prototype for a light table experience that was a part of an exhibition for Science Museum Oklahoma on the art and design of footwear. The goal of the exhibit was to allow visitors to design their own sneaker silhouette.</p>
            </div>
        </div>
    </div>
    <div class="mb3 w-100   mb0-ns w-50-ns">
        <div class="border-box flex flex-cell items-stretch justify-center w-100   pa2-ns w-100-ns">
            <div class="bg-black-04 flex flex-column items-center justify-center pa2   pa3-46">
                <a class="zoom-in" href="#" data-featherlight="assets/development/prototyping/2_large.jpg" data-featherlight-close-on-click="anywhere" data-featherlight-close-speed="350">
                    <img class="db" src="assets/development/prototyping/2_small.jpg">
                </a>
                <p class="f7 lh-copy mb2 mt3   pt2-ns hyphens-ns   f6-l">I then created a number of to-scale models in Illustrator and cut them out on a laser cutter. These acted as a conversation piece to communicate my ideas to the exhibition’s curator and get tips on construction from SMO’s exhibits team.</p>
            </div>
        </div>
    </div>
    <div class="mb3 w-100   mb0-ns w-50-ns">
        <div class="border-box flex flex-cell items-stretch justify-center w-100   pa2-ns w-100-ns">
            <div class="bg-black-04 flex flex-column items-center justify-center pa2   pa3-46">
                <a class="zoom-in" href="#" data-featherlight="assets/development/prototyping/3_large.jpg" data-featherlight-close-on-click="anywhere" data-featherlight-close-speed="350">
                    <img class="db" src="assets/development/prototyping/3_small.jpg">
                </a>
                <p class="f7 lh-copy mb2 mt3   pt2-ns hyphens-ns   f6-l">I made a to-size mock up to get a sense of how much space visitors would need to be comfortable at the exhibit. This version was taller, and helped me realize we would need an accompanying smaller table for shorter visitors.</p>
            </div>
        </div>
    </div>
    <div class="w-100   w-50-ns">
        <div class="border-box flex flex-cell items-stretch justify-center w-100   pa2-ns w-100-ns">
            <div class="bg-black-04 flex flex-column items-center justify-center pa2   pa3-46">
                <a class="zoom-in" href="#" data-featherlight="assets/development/prototyping/4_large.jpg" data-featherlight-close-on-click="anywhere" data-featherlight-close-speed="350">
                    <img class="db" src="assets/development/prototyping/4_small.jpg">
                </a>
                <p class="f7 lh-copy mb2 mt3   pt2-ns hyphens-ns   f6-l">Final prototype</p>
            </div>
        </div>
    </div>
</div>
