<div class="border-box flex flex-cell items-stretch justify-center w-100   pa2-ns w-100-ns">
    <div class="bg-black-04 flex flex-column items-center justify-center pa2   pa3-46">
        <a class="zoom-in" href="#" data-featherlight="{{ include.item_image_large }}" data-featherlight-close-on-click="anywhere" data-featherlight-close-speed="350">
            <img class="db" src="{{ include.item_image_small }}">
        </a>
        <p class="f7 lh-copy mb2 mt3   pt2-ns hyphens-ns   f6-l">{{ include.item_caption }}</p>
    </div>
</div>
