<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Trevor Taylor | New Theme</title>

<link rel="stylesheet" href="assets/css/app.css">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600&display=swap" rel="stylesheet">


<body class="antialiased flex flex-col font-sans leading-normal min-h-screen">
   <div class="bg-white fixed w-full border-b border-gray-300">
      <header class="container  |  flex items-center justify-between  | py-5 sm:py-6">
         <a href="/" class="block  |  font-serif">
            <h1 class="text-sm sm:text-base tracking-wide">Trevor Taylor</h1>
            <h2 class="text-xs sm:text-sm tracking-wide" style="letter-spacing: 0.0125em">Experience Developer–Designer</h2>
         </a>

         <button class="site-menu__btn  |  js--site-menu__btn" style="width: 36px">
            <span style="width: 24px"></span>
            <span style="width: 28px"></span>
            <span style="width: 24px"></span>
            <span style="width: 18px"></span>
   		</button>

         {% include nav.html %}
      </header>
   </div>

   <main class="flex-grow">
      {{ content }}
   </main>

   <footer class="border-t border-gray-300">
      <div class="container  |  flex items-center justify-between  |  py-5">
         <a href="#">
            hello@trevor-taylor.com
         </a>

         <a href="#">
            Instagram
         </a>
      </div>
   </footer>

   <!--   JS   -->
   <script src="assets/js/site.js"></script>
</body>