<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Trevor Taylor {% unless page.title == 'Index' %}| {{ page.title }} {% endunless %}</title>

<link rel="canonical" href="https://trevor-taylor.com" />
<meta name="description" content="Trevor Taylor is an experience developer working at the intersection of design and education." />
<meta name="robots" content="all" />

<link rel="icon" type="image/png" href="assets/img/favicon--{% if page.title == 'Skills' %}yellow{% elsif page.title == 'Development' %}blue{% elsif page.title == 'Design' %}orange{% elsif page.title == 'Innovation' %}green{% else %}sand{% endif %}.png" sizes="32x32" />

<!--   Twitter Sharing   -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Trevor Taylor - Experience Developer&ndash;Designer">
<meta name="twitter:description" content="Trevor Taylor is an experience developer working at the intersection of design and education.">
<meta name="twitter:image" content="https://trevor-taylor.com/assets/img/twitter_share.png">

<!-- Facebook Sharing -->
<meta property="og:url" content="https://trevor-taylor.com" />
<meta property="og:title" content="Trevor Taylor - Experience Developer&ndash;Designer" />
<meta property="og:description" content="Trevor Taylor is an experience developer working at the intersection of design and education." />
<meta property="og:image" content="https://trevor-taylor.com/assets/img/facebook_share.png" />

<link rel="stylesheet" href="assets/css/app.css">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500&display=swap" rel="stylesheet">



<body class="antialiased flex flex-col font-sans leading-normal min-h-screen  |  page --{{ page.title | downcase }}">
   {% include header.html %}

   <main class="flex-grow">
      {{ content }}

      {% include back-to-top.html %}
   </main>

   {% include footer.html %}


   <!--   JS   -->
   <script src="assets/js/site.js"></script>
   <script>
      {% include js/smooth-scroll.html %}
      var scroll = new SmoothScroll('[data-scroll]');

      {% unless page.title == 'Index' %}
         {% include js/medium-zoom.html %}

         mediumZoom('[data-zoomable]', {
            margin: 24
         })
      {% endunless %}
   </script>
</body>