---
layout: default
---

{% include page_header.html
    page_image="assets/3_design_full.svg"
    page_title="03 - Design"
%}

<div class="bg-washed-pink">
    {% include section_top.html
        section_title="Sole Expression"
        section_body="As a part of a collaborative studio at The University of the Arts, I helped to design an exhibition that invited visitors to explore their relationship with footwear. The exhibition featured a number of interactive experiences, such as a heel try-on station (designed not to be gross), a stride analyzer, and floor-mounted microscopes to take a closer look at their own shows. My personal favorite was the exhibit <strong>Why Shoes Smell</strong>, where visitors lift a flap to waft the aroma of a number of distinct odors from actual people’s shoes."
    %}
            {% include image_grid_left.html
                image_one_large="assets/design/sole_expression/sole_expression_1_large.png"
                image_one_small="assets/design/sole_expression/sole_expression_1_small.png"
                image_two_large="assets/design/sole_expression/sole_expression_2_large.jpg"
                image_two_small="assets/design/sole_expression/sole_expression_2_small.png"
                image_three_large="assets/design/sole_expression/sole_expression_3_large.jpg"
                image_three_small="assets/design/sole_expression/sole_expression_3_small.png"
            %}
            {% include image_grid_right.html
                image_one_large="assets/design/sole_expression/sole_expression_4_large.jpg"
                image_one_small="assets/design/sole_expression/sole_expression_4_small.png"
                image_two_large="assets/design/sole_expression/sole_expression_5_large.jpg"
                image_two_small="assets/design/sole_expression/sole_expression_5_small.png"
                image_three_small="assets/placeholder.gif"
            %}
        </div>
    </div>
</div>


{% include section_top.html
    section_title="Exhibitions &ndash; The Nature of Innovation"
    section_body="<strong>Nature of Innovation</strong> was an interactive science exhibit that explored the concept of biomimicry. Visitors learned about and tested technology that was inspired by nature, as well as collected and toggled through high speed footage of the way animals move in order to inspire their own innovations."
%}
        {% include image_grid_left.html
            image_one_large="assets/design/nature_of_innovation/nature_of_innovation_1_large.png"
            image_one_small="assets/design/nature_of_innovation/nature_of_innovation_1_small.png"
            image_two_small="assets/placeholder.gif"
            image_three_large="assets/design/nature_of_innovation/nature_of_innovation_2_large.png"
            image_three_small="assets/design/nature_of_innovation/nature_of_innovation_2_small.png"
        %}
    </div>
</div>



<div class="bg-washed-pink">
    {% include section_top.html
        section_title="Exhibition &ndash; Haunted: The Philadelphia Ghost Project"
        section_body="Philadelphia is home to countless historic sites, almost all of which have a ghost story tied to them. These stories were shared through relevant artifacts such a famous chair from the Baleroy Mansion that several people have apparently died shortly after sitting in. The exhibition was designed to be austere—avoiding entirely the feel of a haunted house. The exhibition allowed visitors to share their own ghost stories and explore the psychology of getting spooked."
    %}
            {% include image_grid_right.html
                image_one_large="assets/design/haunted/haunted_1_large.jpg"
                image_one_small="assets/design/haunted/haunted_1_small.png"
                image_two_large="assets/design/haunted/haunted_2_large.jpg"
                image_two_small="assets/design/haunted/haunted_2_small.png"
                image_three_large="assets/design/haunted/haunted_3_large.jpg"
                image_three_small="assets/design/haunted/haunted_3_small.png"
            %}
        </div>
    </div>
</div>
