---
layout: default
---
<div class="dt fixed vh-100 w-100 bg-washed-pink top-0 left-0 z-999   js-fullscreen">
    <div class="dtc v-mid ph4   ph5-ns">
        <img class="center db" style="width:500px" src="assets/intro.svg"/>
    </div>
</div>

<script>/*
window.onload = function() {
  document.querySelector('.js-fullscreen').classList.toggle("fade");
};*/
setTimeout(fadeIt, 1500);

function fadeIt() {
   document.querySelector('.js-fullscreen').classList.toggle("fade");
}
</script>
<script>
(function() {

    function transformStart() {
        document.querySelector(".js-fullscreen").classList.toggle("hide");
    }

    document.querySelector(".js-fullscreen").addEventListener("click", transformStart);
})();
</script>
<script>
window.onscroll = function() {
  document.querySelector(".js-fullscreen").classList.toggle("hide");
};
</script>
<style>
.js-fullscreen{
    opacity:1;
    transition: opacity 3s ease-in-out;
   -moz-transition: opacity 3s ease-in-out;
   -webkit-transition: opacity 3s ease-in-out;}
.js-fullscreen.fade{
    opacity:0;
    transition: opacity 3s ease-in-out;
   -moz-transition: opacity 3s ease-in-out;
   -webkit-transition: opacity 3s ease-in-out;}
.js-fullscreen.hide{display:none}
</style>

<ul class="flex flex-wrap justify-between mw7 center mv5 ph4   mv6-ns   phf0-l" id="home-nav">
    {% for nav_link in page.nav_links limit: 2%}
        <li class="list mb3 w-100   dt-ns h4-ns mb5-ns tc-ns w-50-ns   hf5-l mbf0-l">
            <div class="dtc-ns v-mid-ns">
                <a class="db   pv2-ns   js-home-nav-container" href="{{ nav_link.link }}">
                    <picture>
                        <!--[if IE 9]><audio><![endif]-->
                        <source media="(min-width: 450px)" srcset="{{ nav_link.img_large }}" />
                        <!--[if IE 9]></audio><![endif]-->
                        <img alt="" class="home-nav-img mr5 pointer   mr0-ns   js-home-nav" src="{{ nav_link.img_small }}" />
                    </picture>
                    <span class="element-invisible">{{ nav_link.title }}</span>
                </a>
            </div>
        </li>
    {% endfor %}
    {% for nav_link in page.nav_links limit: 1 offset:2 %}
        <li class="list mb3 w-100   dt-ns h4-ns mb0-ns tc-ns w-50-ns   h5f-l">
            <div class="dtc-ns v-mid-ns">
                <a class="db   pv2-ns   js-home-nav-container" href="{{ nav_link.link }}">
                    <picture>
                        <!--[if IE 9]><audio><![endif]-->
                        <source media="(min-width: 450px)" srcset="{{ nav_link.img_large }}" />
                        <!--[if IE 9]></audio><![endif]-->
                        <img alt="" class="home-nav-img mr5 pointer   mr0-ns   js-home-nav" src="{{ nav_link.img_small }}" />
                    </picture>
                    <span class="element-invisible">{{ nav_link.title }}</span>
                </a>
            </div>
        </li>
    {% endfor %}
    {% for nav_link in page.nav_links limit: 1 offset: 3 %}
        <li class="list w-100   dt-ns h4-ns tc-ns w-50-ns   h5f-l">
            <div class="dtc-ns v-mid-ns">
                <a class="db   pv2-ns   js-home-nav-container" href="{{ nav_link.link }}">
                    <picture>
                        <!--[if IE 9]><audio><![endif]-->
                        <source media="(min-width: 450px)" srcset="{{ nav_link.img_large }}" />
                        <!--[if IE 9]></audio><![endif]-->
                        <img alt="" class="home-nav-img mr5 pointer   mr0-ns   js-home-nav" sstyle="height:167px;width:1170px;" src="{{ nav_link.img_small }}" />
                    </picture>
                    <span class="element-invisible">{{ nav_link.title }}</span>
                </a>
            </div>
        </li>
    {% endfor %}
    <img class="dn center h2 animated fadeInDown mt5 pt4   db-l" src="assets/chevron-down.svg" />
</ul>

<div class="bg-washed-pink blue pv5    pv6-l">
    <div class="center cf mw8">
        <div class="center f6 mw7 mb5 ph4   f5-ns   mb6-l ">
            <h2 class="fw6 ttu f6 lh-solid mv0 tracked-narrow   f5-ns">About</h2>
            <div class="flex-c hyphens-c justify-between-c tj-c">
                <p class="lh-copy measure   measure-narrow-c">Over the last ten years I have worked to cultivate a rich understanding of informal pedagogies and an in-depth knowledge of science exhibits as an interpretive media. I am currently investigating the relationships between staffed experiences and exhibits to better understand what kinds of experiences may occur at their intersection.</p>
                <p class="lh-copy measure   measure-narrow-c">My greatest strengths lie in ideation and prototyping. I have accumulated a number of making skills over the years but am always learning more. I have used these skills to help museums all over the central region of the United States generate powerful, mission–driven experiences for their visitors.</p>
            </div>
        </div>
        <div class="flex items-center mb5   justify-between-ns   mb6-l ph4-l">
            <div>
                <div class="h4 w1 bb br   w3-ns   w4-l"></div>
                <div class="h4 w1 br   w3-ns   w4-l"></div>
            </div>
            <div class="pl3 pr4   ph4-ns mr3-ns tr-ns   mr5-l pr5-l">
                <h2 class="fw6 ttu f6 lh-solid mv0 tracked-narrow   f5-ns pr3-ns   pr0-l">Education</h2>
                <p class="f6   f5-ns pr3-ns   pr0-l">
                    <strong>2017<br>
                    MFA, Museum Exhibition Planning and Design</strong><br>
                    The University of the Arts, Philadelphia, PA
                </p>
                <p class="f6 mb0   f5-ns pr3-ns   pr0-l">
                    <strong>2012<br>
                    BA, Music Performance</strong><br>
                    Oklahoma State University, Stillwater, OK
                </p>
            </div>
        </div>

        <div class="fr flex items-center mb5   fn-ns justify-between-ns   mb6-l ph4-l">
            <div class="ph3 tr   ph4-ns ml3-ns tl-ns   ml5-l pl5-l">
                <h2 class="fw6 ttu f6 lh-solid mv0 tracked-narrow   f5-ns pl3-ns   pl0-l">Experience</h2>
                <p class="f6   f5-ns pl3-ns   pl0-l">
                    <strong>2012&ndash;2015<br>
                    Network Museum Educator</strong><br>
                    Oklahoma Museum Network
                </p>
                <p class="f6   f5-ns pl3-ns   pl0-l">
                    <strong>2011&ndash;2012<br>
                    Curator of Galleries</strong><br>
                    Science Museum Oklahoma
                </p>
                <p class="f6 mb0   f5-ns pl3-ns   pl0-l">
                    <strong>2007&ndash;2009<br>
                    Floor Facilitator</strong><br>
                    Omniplex Science Museum
                </p>
            </div>
            <div>
                <div class="h4 w1 bb bl   w3-ns   w4-l"></div>
                <div class="h4 w1 bl   w3-ns   w4-l"></div>
            </div>
        </div>
    </div>
</div>
