---
layout: default
---
<div class="b--light-gray bb">
    {% include page_header.html
        page_image="assets/4_innovation_full.svg"
        page_title="04 Innovation"
    %}


    <div class="bg-washed-pink">
        <div class="center mw8 pv5   pv6-ns">
            <div class="center mw-40 ph3   ph4-ns   ph0-l">
                <h2 class="fw6 ttu f6 lh-title mv0 tracked-narrow   f5-ns">Graduate Thesis: Making Together</h2>
                <p class="lh-copy">In the last decade and a half, science museums have begun to open making and tinkering spaces in their exhibit halls. These spaces invite visitors to work with intriguing materials and spend more time on one investigation. Making Together examines these spaces and the ways they help to shape the larger learning ecosystem of the museum.</p>
                <a class="blue dib dim link" href="http://trevor-taylor.com/assets/trevor_taylor-making_together.pdf" target="_blank">View <span class="fw5">Making Together &#x2197;&#xFE0E;</span></a>
            </div>
            <div class="center mt4 mw8   mt5-l ph2-l">
                {% include image_grid_left.html
                    image_one_large="assets/innovation/innovation_1_large.jpg"
                    image_one_small="assets/innovation/innovation_1_small.jpg"
                    image_two_large="assets/innovation/innovation_2_large.jpg"
                    image_two_small="assets/innovation/innovation_2_small.jpg"
                    image_three_large="assets/innovation/innovation_3_large.jpg"
                    image_three_small="assets/innovation/innovation_3_small.png"
                %}
                {% include image_grid_right.html
                    image_one_large="assets/innovation/innovation_4_large.jpg"
                    image_one_small="assets/innovation/innovation_4_small.jpg"
                    image_two_small="assets/placeholder.gif"
                    image_three_small="assets/placeholder.gif"
                %}
            </div>
        </div>
    </div>


    <div class="center mv5 mw8   mv6-ns">
        <div class="center f6 lh-copy measure-wide ph3   f5-ns phf4-ns tj-ns">
            <h2 class="fw6 ttu f6 lh-title mv0 tracked-narrow   f5-ns">Conference Presentations</h2>
            <p class="lh-title mt2">Association of Science and Technology Centers</p>
            <div class="fw5 lh-title">
                <h3 class="f6 fw5 mt4   f5-ns">2012 &mdash;<br>Strategies for Mobile Museum Outreach</h3>
            </div>
            <div class="f6 f5-ns">
                <h3 class="f6 fw5 lh-title mb0 mt4   f5-ns">2014 &mdash;<br>Live Demo Hour</h3>
                <p class="lh-copy mt0   f6-ns">I presented a makeshift ping pong ball cannon that was later used by Steve Spangler and (arguably) Adam Savage.</p>
            </div>
            <div class="f6 f5-ns">
                <h3 class="f6 fw5 lh-title mb0 mt4   f5-ns">2015 &mdash;<br>Making and Tinkering <span class="small-caps">COP</span> Meet-up</h3>
                <p class="lh-copy mt0   f6-ns">I shared two prototype activities with the COP&mdash;a cardboard glider challenge and a contour drawing canvas.</p>
            </div>
            <div class="f6 f5-ns">
                <h3 class="f6 fw5 lh-title mb0 mt4   f5-ns">2016 &mdash;<br>With Not For: New Approaches to Community-based Exhibition Development and Design</h3>
                <h3 class="f6 fw5 lh-title mb0 mt3   f5-ns">Making for Everyone: Strategies for Providing Making and Tinkering Experiences</h3>
                <p class="lh-copy mt0   f6-ns">I specifically addressed providing making and tinkering experiences on a small budget.</p>
            </div>
        </div>
    </div>
</div>
