---
layout: default
---
<style>
.flex-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
}
</style>

<div class="b--light-gray bb">
    {% include page_header.html
        page_image="assets/1_processes_full.svg"
        page_title="01 - Processes"
    %}


    <div class="bg-washed-pink">
        <div class="center f6 measure-wide ph3 pv5   f5-ns ph4-ns   mw7-46    pv6-l">
            <h2 class="f6 fw6 lh-title mb2 mt0 tracked-narrow ttu   f5-ns">Skills</h2>
            <div class="lh-copy   hyphens-ns   flex-46 justify-between-46">
                <div class="measure-narrow-46">
                    <p class="mt0">Extensive experience prototyping and developing hands-on learning experiences for all ages.</p>
                    <p>Competent with rapid prototyping technology such as: laser cutters, CNC routers, Arduino micro-controllers, and 3D printers.</p>
                    <p class="mb0-ns">Knowledge about basic electronics, shop tools, and fabrication methods.</p>
                </div>
                <div class="measure-narrow-46">
                    <p class="mt0-ns">Experience writing museum copy and press releases.</p>
                    <p>Trained in proper care and presentation of  fine art and artifacts.</p>
                    <p>Proficient in Adobe Suite.</p>
                    <p class="mb0">Trained in sketching, drafting, and design rendering.</p>
                </div>
            </div>
        </div>
    </div>


    {% include section_top.html section_title="Sketching &ndash; Things" %}
            {% include image_grid_left.html
                image_one_large="assets/processes/sketching/sketch_1_large.jpg"
                image_one_small="assets/processes/sketching/sketch_1_small.png"
                image_two_large="assets/processes/sketching/sketch_2_large.jpg"
                image_two_small="assets/processes/sketching/sketch_2_small.png"
                image_three_large="assets/processes/sketching/sketch_3_large.jpg"
                image_three_small="assets/processes/sketching/sketch_3_small.png"
            %}
            {% include image_grid_right.html
                image_one_large="assets/processes/sketching/sketch_4_large.jpg"
                image_one_small="assets/processes/sketching/sketch_4_small.png"
                image_two_large="assets/processes/sketching/sketch_5_large.png"
                image_two_small="assets/processes/sketching/sketch_5_small.png"
                image_three_small="assets/placeholder.gif"
            %}
        </div>
    </div>


    <div class="bg-washed-pink">
        {% include section_top.html section_title="Sketching &ndash; Spaces" %}
                {% include image_grid_left.html
                    image_one_large="assets/processes/sketching/sketch_6_large.jpg"
                    image_one_small="assets/processes/sketching/sketch_6_small.png"
                    image_two_large="assets/processes/sketching/sketch_7_large.jpg"
                    image_two_small="assets/processes/sketching/sketch_7_small.png"
                    image_three_large="assets/processes/sketching/sketch_8_large.jpg"
                    image_three_small="assets/processes/sketching/sketch_8_small.png"
                %}
            </div>
        </div>
    </div>


    {% include section_top.html section_title="Technical Drawings" %}
            {% include image_grid_right.html
                image_one_large="assets/processes/technical_drawings/technical_1_large.jpg"
                image_one_small="assets/processes/technical_drawings/technical_1_small.png"
                image_two_large="assets/processes/technical_drawings/technical_2_large.jpg"
                image_two_small="assets/processes/technical_drawings/technical_2_small.png"
                image_three_large="assets/processes/technical_drawings/technical_3_large.png"
                image_three_small="assets/processes/technical_drawings/technical_3_small.png"
            %}
        </div>
    </div>
</div>
